body {
    margin: 0;
    padding: 0;
    background-color: #E9E9E9;
    color: rgba(0,101,157,255);
}
#logo{
    display: block;
    margin: 2vh auto 1vh auto;
}

#content{
    position: relative;
    width: 50vw;
    margin: 2vh auto;
    background-color: white;
    border-radius: 15px;
    border: .5px solid black;
    padding: 0;
}

header {
    padding: 1vh;
    width: 100%;
    height: 5vh;
    text-align: center;
    margin-bottom: 2vh;
}

#pageTitle {
    display: block;
    position: relative;
}

.container {
    width: 50vw;
    display: block;
    margin: 0 auto;
    padding: 0 0 0 2.5vw;
}

#selectedImage{
    text-align: center;
}

.chaveFoto {
    overflow: hidden
}

footer {
    bottom: 0;
    padding: 0 0 1px 3px;
    margin: 0 auto;
    display: block;
    width: 50vw;
    display: inline-block;
    justify-content: end;
}

footer > label{
    display: inline-block;
    color: white;
    padding: 1vh 0;
    width: 49%;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    background-color: gray;
    border: 1px solid white;
}

#firstLabel{
    border-radius: 10px 0 0 15px;
}

#secondLabel{
    border-radius: 0 10px 15px 0;
}


footer label:hover, footer label:active {
    background-color: darkgray;
    color: gray;
    border: 1px solid black;
}

.input{
    width: 95%;
    align-self: center;
}

#loading{
    position: absolute;
    display: block;
    background-color: black;
    z-index: 100;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

canvas{
    margin-left: -5%;
    width: 100%;
    align-self: center;   
    border-radius: 15px; 
}

.resultadoPesquisa {
    border: 1px solid black;
    border-radius: 15px;
    padding: 1vh 0;
}

.resultadoPesquisa > * {
    max-width: 90%;
    margin: 0 auto;
    align-self: center;     
}

.resultadoPesquisa > img{
    max-width: 99%;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
}

@media only screen and (max-width: 768px) {
    #content{
        width: 90vw;
        padding: 0;
        overflow: hidden;
    }
    .input, #chaveFoto{
        display: inline-block;
        position: relative;
        margin: 0 auto;
        left: -15vw;
        width: 75vw;
    }
    .radio{
        display: inline-block;
        position: relative;
        left: -15vw;
    }
    footer{
        width: 100%;
    }
}